{
    "tickets": [
        "LKOH"
    ],
    "ticketsCrypto": [
        "BTC/USDT"
    ],
    "Stocks": [
        {
            "name": "ЛУКОЙЛ",
            "stock": "LKOH",
            "buy_price": [
                {
                    "count": 1.0,
                    "price": 5250.0
                }
            ]
        }
    ],
    "Crypto": [
        {
            "name": "Bitcoin",
            "stock": "BTC/USDT",
            "buy_price": [
                {
                    "count": 3e-05,
                    "price": 94000.0
                }
            ]
        }
    ],
    "Currency": [
        {
            "RUB": -4250.0
        },
        {
            "USDT": 997.18
        }
    ]
}